<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Toolkit.Controls" version="2.1.6" targetFramework="wpa81" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.1" targetFramework="wpa81" />
  <package id="MvvmCross.HotTuna.Plugin.PhoneCall" version="3.5.1" targetFramework="wpa81" />
  <package id="MvvmCross.PortableSupport" version="3.5.1" targetFramework="wpa81" />
  <package id="sqlite-net" version="1.0.8" targetFramework="wpa81" />
  <package id="WPToolkit" version="4.2013.06.11" targetFramework="wpa81" />
</packages>